<a class="nav-link text-dark" asp-area="Categories" asp-controller="Home" asp-action="Index">Categories</a>
<a class="nav-link text-dark"  asp-controller="Home" asp-action="Index">Products</a>
<a class="nav-link text-dark" asp-area="Sales" asp-controller="Home" asp-action="Index">Sales</a>
