@model  dynamic

@using (Html.BeginForm(null ,null , FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    //Only displays Model level validation
    @Html.ValidationSummary(true)
    @Html.EditorForModel(new { DetailsMode = false, EditMode = true, CreateMode = false })
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-primary btn-sm" />
        </div>
    </div>
}